<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>559779602190-6lrd347f0954fuvjk0q0tje0srklujru.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.559779602190-6lrd347f0954fuvjk0q0tje0srklujru</string>
	<key>API_KEY</key>
	<string>AIzaSyDxfRJwDkcRfQFKuYwDaUTeuq6mC5Poikw</string>
	<key>GCM_SENDER_ID</key>
	<string>559779602190</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.theuhooi.UhooiPicBook-Develop</string>
	<key>PROJECT_ID</key>
	<string>uhooipicbook-develop</string>
	<key>STORAGE_BUCKET</key>
	<string>uhooipicbook-develop.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:559779602190:ios:0c22260b31322cf1b7015f</string>
</dict>
</plist>